<footer>
    <small>Copyright &copy; WYD Gaming Corporation 2023</small>
    <nav>
    <div class="nav-wrapper">
        <a href='/about'>About</a>
        <a href='/contact'>Contact</a>
    </div>
</nav>
</footer>
    
</body>

</html>