<%- include('./partials/header.ejs')%>
    <h3>About WYD Gaming.</h3> 
    <p>WYD Gaming was founded by Calvin Wu in January 2023. It was developed for gamers who want to meet other gamers and play together. Gamers can create events so that others can see and join in. Every game and gamer is welcome here, so have fun and go join some events!</p>

    <h3>About the Founder</h3>
    <p>Calvin Wu is a senior at UNCC who works as a part time software engineer at Centene health management. As a gamer, he wanted to start an organization where other gamers like him could meet and bond together. Calvin Loves to program cool projects on his free time and is also an avid tennis player and coach.</p>
    <div class = "home-img">
       <img src='images/calvin.jpeg' alt="WYD logo">
    </div>
</div>



<%- include('./partials/footer.ejs')%>