<%- include('./partials/header.ejs')%>
        <h3>Welcome to WYD Gaming.</h3> 
        <p>This is a place where you can share your exciting gaming events. Once you share events others can sign up and attend. Game On!</p>
        <div class = "home-img">
           <img src='images/game.gif' alt="WYD logo">
        </div>
    </div>
<%- include('./partials/footer.ejs')%>